{% extends "base.html" %}

{% block title %}Local do Casamento - Iago e Maria Eduarda{% endblock %}

{% block content %}
    <div class="relative z-10 text-center my-8 md:pt-8 pb-16 md:pb-0">
        <h1 class="text-4xl md:text-5xl font-bold tracking-wider text-stone-800">Local do Casamento</h1>
        <div class="separator"></div>
        
        <div class="mt-8 bg-white bg-opacity-85 p-8 rounded-lg shadow-md max-w-lg mx-auto backdrop-blur-sm border border-white">
            <div class="text-2xl font-bold text-stone-800">Shopping New Fashion Center</div>
            <div class="text-xl mt-2 text-stone-600">Rua Prefeito Sebastião Teixeira 20 - Lojas 123 e 124</div>
            <div class="text-lg text-stone-600">Várzea, Teresópolis - RJ, 25953-200</div>
            
            <div class="separator"></div>
            
            <div class="mt-6 bg-stone-50 bg-opacity-85 p-4 rounded-lg mb-6 backdrop-blur-sm border border-white">
                <h3 class="text-xl font-semibold text-stone-700 mb-2">Como chegar</h3>
                <p class="text-stone-600 mb-4">
                    O Shopping New Fashion Center está localizado na região da Várzea, em Teresópolis, com fácil acesso e estacionamento disponível.
                </p>
                
                <a href="https://www.google.com/maps/dir//Rua+Prefeito+Sebasti%C3%A3o+Teixeira+20+-+Lojas+123+e+124+-+V%C3%A1rzea,+Teres%C3%B3polis+-+RJ,+25953-200/@-22.4131903,-43.0477384,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x984cc61e9a98cf:0x5678f9685670831f!2m2!1d-42.9653368!2d-22.4132112?entry=ttu&g_ep=EgoyMDI1MDYyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="inline-block bg-pink-50 hover:bg-pink-100 text-stone-700 font-medium py-2 px-4 rounded-md transition duration-300 shadow-sm">
                    <i class="fas fa-map-marker-alt mr-2"></i> Como Chegar (Google Maps)
                </a>
            </div>
            
            <div class="mt-6 bg-stone-50 bg-opacity-85 p-4 rounded-lg backdrop-blur-sm border border-white">
                <h3 class="text-xl font-semibold text-stone-700 mb-2">Informações Adicionais</h3>
                <ul class="text-left text-stone-600 space-y-2">
                    <li><i class="fas fa-car text-stone-500 mr-2"></i> Estacionamento disponível no local</li>
                    <li><i class="fas fa-clock text-stone-500 mr-2"></i> Recomendamos chegar com 30 minutos de antecedência</li>
                    <li><i class="fas fa-bus text-stone-500 mr-2"></i> Transporte público disponível próximo ao local</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
