{% extends "base.html" %}

{% block title %}Lista de Presentes - Iago e Maria Eduarda{% endblock %}

{% block content %}
    <div class="relative z-10 text-center my-8 md:pt-8 pb-16 md:pb-0">
        <h1 class="text-4xl md:text-5xl font-bold tracking-wider">Lista de Presentes</h1>
        <div class="separator"></div>
        
        <div class="mt-8 bg-white bg-opacity-85 p-8 rounded-lg shadow-md max-w-lg mx-auto backdrop-blur-sm border border-white">
            <p class="text-lg text-stone-600 mb-6">
                Sua presença é o nosso maior presente. Mas se você desejar nos presentear, preparamos algumas opções:
            </p>
            
            <div class="grid gap-6">
                <div class="bg-stone-50 bg-opacity-85 p-5 rounded-lg backdrop-blur-sm border border-white">
                    <i class="fas fa-gift text-3xl text-stone-600 mb-3"></i>
                    <h3 class="text-xl font-semibold text-stone-800">Lista de Presentes Online</h3>
                    <p class="text-stone-600 mt-2">Disponibilizamos uma lista completa em nossa loja virtual de preferência.</p>
                    <a href="#" class="mt-4 inline-block bg-pink-50 hover:bg-pink-100 text-stone-700 font-medium py-2 px-4 rounded-md transition duration-300 shadow-sm">
                        Ver lista completa
                    </a>
                </div>
                
                <div class="bg-stone-50 bg-opacity-85 p-5 rounded-lg backdrop-blur-sm border border-white">
                    <i class="fas fa-piggy-bank text-3xl text-stone-600 mb-3"></i>
                    <h3 class="text-xl font-semibold text-stone-800">Presente em Dinheiro</h3>
                    <p class="text-stone-600 mt-2">Para contribuir com nossa lua de mel ou outros projetos futuros.</p>
                    <button class="mt-4 inline-block bg-pink-50 hover:bg-pink-100 text-stone-700 font-medium py-2 px-4 rounded-md transition duration-300 shadow-sm" onclick="mostrarDadosPix()">
                        Ver dados para PIX
                    </button>
                    <div id="dadosPix" class="hidden mt-4 bg-stone-100 bg-opacity-85 p-3 rounded text-left backdrop-blur-sm border border-white">
                        <p><strong>PIX:</strong> email@exemplo.com</p>
                        <p><strong>Nome:</strong> Iago e Maria Eduarda</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function mostrarDadosPix() {
            const dadosPix = document.getElementById('dadosPix');
            if (dadosPix.classList.contains('hidden')) {
                dadosPix.classList.remove('hidden');
            } else {
                dadosPix.classList.add('hidden');
            }
        }
    </script>
{% endblock %}
